<p>Olá <%= candidateName %>,</p>

<h1>Parabéns!</h1>

<p>Gostaríamos de lhe parabenizar por ter sido aprovado no processo de recrutamento e seleção da nossa empresa. Foi um prazer conhecê-lo e avaliar suas habilidades e conhecimentos durante o processo.</p>

<p>Estamos animados para lhe dar as boas-vindas a bordo e acreditamos que você será um grande valor para nossa equipe. Por favor, entre em contato conosco em breve para marcarmos uma reunião de integração e discutirmos os próximos passos.</p>

<p>Novamente, parabéns! Estamos ansiosos para trabalhar com você.</p>

<p>Atenciosamente,</p>
<p><%= recruitersName %></p>
<p>Recrutador/a de talentos.</p>