<p>Olá <%= candidateName %>,</p>

<p>Gostaríamos de lhe agradecer por ter participado do processo de recrutamento e seleção da nossa empresa. Foi um prazer conhecê-lo e avaliar suas habilidades e conhecimentos durante o processo.</p>

<p>Infelizmente, neste momento, não selecionamos o seu perfil para o cargo em questão. No entanto, gostaríamos de lhe encorajar a continuar buscando novas oportunidades e desafios. Por favor, mantenha-nos em mente para futuras vagas que possam ser adequadas ao seu perfil.</p>

<p>Novamente, obrigado por participar do processo e lhe desejamos todo o sucesso no futuro.</p>

<p>Atenciosamente,</p>
<p><%= recruitersName %></p>
<p>Recrutador/a de talentos.</p>