<h1>Bem-vindo ao processo de recrutamento e seleção</h1>

<p>Olá <%= candidateName %>,</p>

<p>É com grande prazer que eu lhe dou as boas-vindas ao processo de recrutamento e seleção da nossa empresa. Esperamos que esta oportunidade lhe traga novas experiências e desafios.</p>

<p>Nosso objetivo é encontrar o candidato certo para o cargo em questão, e estamos animados em ver o que você tem a oferecer. Durante o processo, você terá a chance de mostrar suas habilidades, conhecimentos e personalidade, e nós teremos a oportunidade de conhecê-lo melhor.</p>

<p>Por favor, mantenha-se atento aos próximos passos do processo, incluindo entrevistas e outros testes. Se tiver alguma dúvida ou precisar de assistência, não hesite em entrar em contato conosco.</p>

<p>Novamente, seja bem-vindo a bordo!</p>

<p>Atenciosamente,</p>
<p><%= recruitersName %></p>
<p>Recrutador/a de talentos.</p>